<div *ngIf="component">
  <div *ngIf="componentTelemetries && componentTelemetries.length > 0; else noTelemetries">
    <ul class="list-group">
        <li *ngFor="let componentTelemetry of componentTelemetries"
        class="list-group-item mb-2 mx-auto">
          <app-telemetry-data [telemetryTypes] = "telemetryTypes" [componentTelemetry] = "componentTelemetry" [dateRangeObj] = "dateRangeObj"></app-telemetry-data>
        </li>
      </ul>
    </div>
</div>

<ng-template #noTelemetries>
    <ng-container *ngIf = "componentTelemetries && componentTelemetries.length == 0; else spinner">
        <p>
          No components available for this system.
        </p>
    </ng-container>
  </ng-template>
  
  <ng-template #spinner>
    <div *ngIf = "component" class = "text-center">
      <div class = "spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>