<div class="col">
  <div *ngIf="selectedPass">
    <ul class = "list-group mt-2">
      <ng-container *ngIf = "passQueuedTelecommands && passQueuedTelecommands.length > 0; else noTelecommands">
          <li *ngFor="let queuedTelecommand of passQueuedTelecommands, let i = index"
          class = "list-group-item border border-primary">
            <app-queued-telecommand
              [queuedTelecommand] = "queuedTelecommand" 
              [telecommands] = "telecommands"
              [users] = "users"
              [orderRank] = "i + 1"
              [isInPast] = "selectedPass.passHasOccurred"
              (reloadQueuedTelecommands)="reloadQueuedTelecommands($event)">
            </app-queued-telecommand>
          </li>
      </ng-container>
    </ul>
  </div>
</div>


<ng-template #noTelecommands>
  <ng-container *ngIf = "passQueuedTelecommands && passQueuedTelecommands.length == 0; else spinner">
    <div class="row justify-content-center">
      <p class = "mt-2"><b>No telecommands are being executed during this pass.</b></p>
    </div>
  </ng-container>
</ng-template>
    
<ng-template #spinner>
  <div class = "text-center">
    <div class = "spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>