<h2 class = "mb-3">Anomalies</h2>
  <form>
    <div class = "row">
      <div class = "col mb-2">
        <div class="form-group form-inline">
            Search anomalies: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
            <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
        </div>
      </div>
    </div>
  
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" sortable="collectionTime" (sort)="onSort($event)">Collection datetime</th>
        <th scope="col" sortable="compTelemName" (sort)="onSort($event)">Telemetry</th>
        <th scope="col" sortable="compName" (sort)="onSort($event)">Component name</th>
        <th scope="col" sortable="sysName" (sort)="onSort($event)">System name</th>
        <th scope="col" sortable="upperBound" (sort)="onSort($event)">Upper bound</th>
        <th scope="col" sortable="lowerBound" (sort)="onSort($event)">Lower bound</th>
        <th scope="col" sortable="reading" (sort)="onSort($event)">Reading</th>
        <th scope="col" sortable="unit" (sort)="onSort($event)">Unit</th>
      </tr>
      </thead>
      <tbody *ngIf="!(service.loading$ | async); else noAnoms">
      <tr *ngFor="let anom of anomalies$ | async">
        <td><ngb-highlight [result]="getFormattedDate(anom.collectionTime)" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="anom.compTelemName" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="anom.compName" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="anom.sysName" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="anom.upperBound | number" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="anom.lowerBound | number" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="anom.reading | number" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="anom.unit" [term]="service.searchTerm"></ngb-highlight></td>
      </tr>
      </tbody>
    </table>
  
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
  
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
      </select>
    </div>
  
  </form>

<ng-template #noAnoms>
    <ng-container *ngIf = "anomalies && anomalies.length == 0; else spinner">
      <tr>
        <td colspan="8">
          <p class = "font-weight-bolder mt-2">There are no anomalies to display. Check back soon!</p>
        </td>
      </tr>
    </ng-container>
  </ng-template>
  
  <ng-template #spinner>
    <tr>
      <td colspan="8">
        <div class = "container justify-content-center">
          <div class = "text-center align-self-center">
            <div class = "spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </td> 
    </tr>
  </ng-template>