<div class = "container-fluid">
    <div class = "row justify-content-center">
        <h4 class="display-4">CubeSat Mission Operations Portal</h4>
        <h5 class="mb-2">Western Centre for Planetary Science and Exploration (CPSX) & Nunavut Arctic College</h5>
        <img src="assets/cubesat-banniere.jpg" class="w-100 p-3"alt="CubeSatBanner">
    </div>
    <h4 class="mb-1">What is the CubeSat?</h4>
    <p class="mb-1">CPSX, in partnership with Nunavut Arctic College, received a grant from the Canadian Space Agency (CSA) to fund the development of a CubeSat device. The CubeSat is a miniature satellite set to be launched in 2022. The device will be designed and built by various teams composed of Western University & Nunavut Arctic College students and faculty members. Once the device has been launched, mission control will be able to operate the device from this application.</p>
    <hr />
    <h4 class="mb-1">CubeSat Interaction Diagram</h4>
    <img src="assets/cubesat-interactions.png" class="w-100 p-3"alt="CubeSatInteractions">
</div>
