<form>
  <div class="form-group">
    <label for="newPasswordInput">New Password</label>
    <input [(ngModel)]="newPassword" type="password" class="form-control" id="newPasswordInput" placeholder="New Password" name="newPassword">
    <small id="newPasswordHelp" class="form-text text-muted">Password must be at least 8 characters long, and contain at least one lowercase letter, one uppercase letter, one number, and one special character.</small>
  </div>
  <div class="form-group">
    <label for="confirmNewPasswordInput">Confirm New Password</label>
    <input [(ngModel)]="confirmNewPassword" type="password" class="form-control" id="confirmNewPasswordInput" placeholder="Confirm New Password" name="confirmNewPassword">
  </div>
  <app-alert [alertStyle]="'danger'"></app-alert>
</form>