<div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')">
     <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup] = "createSysForm" (ngSubmit) = "submitNewSys()">
    <div class = "modal-body">
      <div class = "container">
        <div class = "form-group">
          <label for = "systemName">System Name</label>
          <input type = "text"
            class = "form-control"
            formControlName = "systemName"/>
        </div>
      </div>
      <app-alert [alertStyle]="'danger'"></app-alert>
    </div>
  <div class="modal-footer">
    <button [ngClass] = "isEditing ? 'btn btn-outline-info' : 'btn btn-outline-success'"
    [disabled] = "!createSysForm.valid">
      {{modalSubmit}}
    </button>
  </div>
  </form>
